@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
  background: rgb(236, 255, 205);
}
/*Fixed*/
header{
  display: flex;
  justify-content: center;
}
.title{
    margin-top: 30px;
    position: sticky;
    font-size:7rem;
    font-family: 'Anybody', cursive;
    color: rgb(102, 80, 33);
}
#colorBtn, #rainbowBtn, #eraserBtn, #clearBtn{
    font-size: 3rem;
    outline: none;
    text-align: left;
    width:340px;
    font-family: 'Kaushan Script', cursive;
}
.settings{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main{
  height: 65vh;
}
input[type='color']{
    height:100px;
    width:100px;
    border-radius: 50px;
    border:none;
    outline:none;
    padding:0px;
}

  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

input[type='color']:hover {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.1);
  }
  input[type='color']:active {
    transition: transform 0.1s ease-out;
    transform: scale(1);
  }
button{
    margin: 12px;
    background-color: rgb(187, 172, 152);
    color: white;
    border-radius: 12px;
}
button:hover{
    box-shadow: inset 400px 0 0 0 rgb(88, 53, 0);
    transition: ease-in-out .3s;

}
.clicked{
  background-color: rgb(88, 53, 0);
}
.nonClicked{
  background-color: rgb(187, 172, 152);
}
#grid{
  display:grid;
  position:relative;
  bottom: 35rem;
  left:700px;
  height:600px;
  width: 600px;
  cursor: crosshair;
  box-shadow:1px 1px 20px;
}


.gridDivs{
  display:grid;
}
.gridDivs:hover{
  background: rgb(187, 169, 156);
}
#sizeValue{
  font-family: "Montserrat";
}
#sizeSlider{
  -webkit-appearance: none;
  border-radius: 25px;
  height:8px;
  width:15%;
  box-shadow: 0px 1px 10px black;
  background-color:rgb(117, 117, 117);
}
#sizeSlider::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: rgb(97, 63, 63);
  width:18px;
  height:18px;
  border-radius: 10px;
  border:white 2px solid;
}
a:link{
  text-decoration: none;
}
a:hover{
  color:rgb(179, 141, 17);
}
/*fixed*/
footer{
  display: flex;
    font-family: "Montserrat";
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
}
